/* mismo estito para toda la web, body, header y footer*/
body {
  background-color: beige;
}

header {
  width: auto;
  background-color: rgb(119, 232, 209);
  border: 1px solid black;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 2fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas: "logo  titulo horario busqueda home  homeubi  login";
  align-items: center;
  justify-items: center;
}

.cabecera {
  grid-area: logo;
}
.titulo {
  grid-area: titulo;
}
.horario {
  grid-area: horario;
}
.search-box {
  grid-area: busqueda;
  text-align: center;
  align-items: center;
}
.Home {
  grid-area: home;
}
.HomeUbi {
  grid-area: homeubi;
}
.Home,
.HomeUbi {
  background-color: rgb(119, 232, 209);
  border: none;
  transition: 0.3s ease;
}
.login {
  grid-area: login;
  background-color: rgb(119, 232, 209);
  border: none;
  justify-self: center;
  transition: 0.3s ease;
}

footer {
  position: relative;
  margin-top: 2em;
  background-color: rgb(196, 188, 188);
  border: 1px solid black;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  grid-template-areas: "footer footer2 derechos contacto";
  align-items: center;
  justify-items: center;
}
.footer {
  grid-area: footer;
}
.footer2 {
  padding-top: 2%;
  grid-area: footer2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer2 img {
  margin: 0 auto;
}

.derechos {
  grid-area: derechos;
}
.contacto {
  grid-area: contacto;
}

.img {
  width: 10px;
  background-color: rgb(119, 232, 209);
  border: none;
}

.Wassap {
  border-radius: 10px;
}
.text {
  width: 250px;
  transition: width 0.3s ease;
}
/*********TRANSICIONES**********/

/*Del header*/

.Home img:hover,
.HomeUbi img:hover,
.login img:hover {
  width: 50%;
  animation: rotar 1s ease infinite;
}

@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.text:focus {
  width: 300px;
}
.horario:hover {
  font-size: 1.5em;
  color: blue;
  font-weight: bolder;
}
.titulo:hover {
  text-decoration: underline;
  text-shadow: 2px 2px white;
}
.cabecera {
  transition: transform 0.5s ease;
}
.cabecera:hover {
  transform: rotate(360deg);
}

/* Del footer*/
.contacto:hover {
  font-size: 1.5em;
  color: blue;
}

/*******responsive*******/

@media screen and (max-width: 980px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 40px 40px;
    grid-template-areas:
      "logo  titulo horario"
      "home  homeubi  login"
      "busqueda busqueda busqueda";
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:
      "footer footer2 "
      "derechos contacto";
    align-items: center;
    justify-items: center;
  }
  .Home img:hover,
  .HomeUbi img:hover,
  .login img:hover {
    width: 20%;
    transition: 0.3s ease;
  }
}

/* estilo del index.html*/

div.contenedor1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: auto auto;
  grid-template-areas: "autor categoria ";
  gap: 2% 2%;
}
div.autor {
  grid-area: autor;
  border: 4px solid rgb(165, 182, 182);
  border-radius: 10px;
  padding-left: 2em;
}
div.categoria {
  grid-area: categoria;
  border: 4px solid rgb(165, 182, 182);
  border-radius: 10px;
  padding-left: 2em;
}

.autor img {
  display: flex;
  justify-self: center;
  width: 60%;
  height: auto;
}

.celeste {
  background-color: rgb(165, 182, 182);
  margin-right: 1em;
  border-radius: 5px;
  text-align: center;
  transition: 1s;
}
.sinopsis {
  width: 97%;
  text-align: justify;
  font-size: 1.3em;
}

.autor:hover,
.categoria:hover {
  border: 4px solid blue;
}
.autor:hover .celeste,
.categoria:hover .celeste {
  box-shadow: -10px -10px rgb(88, 88, 239);
  letter-spacing: 4px;
}
